#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE    0
#define NAV     1
#define SYM     2
#define ADJ     3
#define PRECISE 4
#define FAST    5

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "BASE";
            bindings = <
                &kp TAB   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
                &kp LSHFT &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
                &kp LCTRL &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp ESC
                                &mo 1 &kp LGUI &kp SPACE   &kp RET &mo 2 &kp RALT
            >;
        };

        nav {
            display-name = "NAV";
            bindings = <
                &kp TAB     &kp N1          &kp N2       &kp N3       &kp N4       &kp N5         &kp N6    &kp N7   &kp N8 &kp N9    &kp N0 &kp BSPC
                &trans      &bt BT_SEL 0    &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT &to PRECISE &trans
                &kp LCTRL   &studio_unlock  &trans       &kp INS      &trans       &kp LALT       &kp RSHFT &kp HOME  &kp PG_DN &kp PG_UP &kp END     &kp DEL
                                                &mo 1        &trans       &kp SPACE      &kp RET  &trans   &kp RALT
            >;
        };

        sym {
            display-name = "SYM";
            bindings = <
                &kp TAB   &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &kp BSPC
                &kp LSHFT &trans   &trans &trans   &trans   &trans      &kp MINUS &kp EQUAL &kp LBKT        &kp RBKT &kp BSLH &kp GRAVE
                &kp LCTRL &trans   &trans &trans   &trans   &trans      &kp UNDER &kp PLUS  &kp LBRC        &kp RBRC &kp PIPE &kp TILDE
                                          &mo 1    &trans   &kp SPACE   &kp RET   &trans    &kp RALT
            >;
        };

        adj {
            display-name = "ADJ";
            bindings = <
                &kp TAB   &trans &kp F7 &kp F8 &kp F9 &kp F12   &kp C_VOL_DN &kp C_MUTE  &kp C_VOL_UP &trans &trans &kp BSPC
                &bt BT_CLR &trans &kp F4 &kp F5 &kp F6 &kp F11   &kp C_PREV   &kp C_PP    &kp C_NEXT   &trans &trans &kp PSCRN
                &kp LCTRL &trans &kp F1 &kp F2 &kp F3 &kp F10   &kp C_BRI_DN &trans      &kp C_BRI_UP &trans &trans &kp CAPS
                                   &mo NAV &kp LGUI &kp SPACE   &kp RET &mo 2 &kp RALT
            >;
        };
        precise {
            display-name = "PREC";
            bindings = <
                &trans &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans   &trans
                &trans &trans &trans &trans &trans &trans   &trans &trans &trans &trans &to FAST &trans
                &trans &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans   &trans
                                     &trans &trans &trans   &trans &trans &trans
            >;
        };

        fast {
            display-name = "FAST";
            bindings = <
                &trans &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans   &trans
                &trans &trans &trans &trans &trans &trans   &trans &trans &trans &trans &to BASE &trans
                &trans &trans &trans &trans &trans &trans   &trans &trans &trans &trans &trans   &trans
                                     &trans &trans &trans   &trans &trans &trans
            >;
        };

        extra_3 {
                status = "reserved";
        };
    };
};
